@font-face {
    font-family: albertus;
    src: url(Albertus Medium Regular.ttf);
}
#Toppic {
	background-image: url(Bg.jpg);
	background-attachment: fixed;
	background-size:cover;
	background-position:center;
	padding:200px;
	}
#Logo {
	height:216px;
	width:766px;
	margin:auto;
}

